#body{
	margin-top:0px;
	margin-bottom:0px;
	margin-left:auto;
	margin-right:auto;
	font-size:11px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#333333;
}

a {
	text-decoration:none;
}

.menu:link {
	color: #004B7A;
	text-decoration: none;
	font-weight:bold;
}
.menu:visited {
	text-decoration: none;
	color: #004B7A;
	font-weight:bold;
}
.menu:hover {
	text-decoration: none;
	color: #00CCFF;
	font-weight:bold;
}
.menu:active {
	text-decoration: none;
	color: #00CCFF;
	font-weight:bold;
}

.menu_1:link {
	color:#333;
	text-decoration:none;
}
.menu_1:visited {
	text-decoration: none;
	color: #333;
}
.menu_1:hover {
	text-decoration: none;
	color:#FF0000;
}
.menu_1:active {
	color:#333;
	text-decoration:none;
}

.menu_2:link {
	color:#FF0000;
	text-decoration:none;
}
.menu_2:visited {
	text-decoration: none;
	color: #FF0000;
}
.menu_2:hover {
	text-decoration: none;
	color:#0080FF;
}
.menu_2:active {
	color:#FF0000;
	text-decoration:none;
}

.menu_3:link {
	color:#0033FF;
	text-decoration:none;
}
.menu_3:visited {
	text-decoration: none;
	color: #0033FF;
}
.menu_3:hover {
	text-decoration: none;
	color:#FF0000;
}
.menu_3:active {
	color:#0033FF;
	text-decoration:none;
}

.menu_3_selected {
    cursor: pointer;
	color:#F00;
}

.tieude_trai{
	background:url(../images/bg_module.jpg);
	width:181px;
	height:30px;
	padding-left:20px;
	color:#ffffff;
	font-weight:bold;
}

.le_menu{
	padding-bottom:5px;
}

.button{
	background:url(../images/bg_tim.jpg);
	border:0px;
	font-size:11px;
	font-weight:bold;
	width:100px;
	height:30px;
}

.button_text{
	border: 1px solid #22ACBA;
	font-size:18px;
	color:#666;
	width:350px;
	height:26px;
}