.pagination:link {
	color: #06F;
	text-decoration: none;
}
.pagination:visited {
	text-decoration: none;
	color: #06F;
}
.pagination:hover {
	text-decoration: none;
	color: #F00;
}
.pagination:active {
	text-decoration: none;
	color: #06F;
}

.tile_modules{
	color:#0033FF;
	font-weight:bold;
	padding-left:15px;
}

#welcome {
	clear:both;
	color:#0066FF;
	font-size:12px;
	font-weight:600;
	margin-top:13px;
	text-align:center;
}

.icon_post {
	float:left;
	font-weight:bold;
	font-size:11px;
	padding-top:10px;
}

.showcart_header {
	color:#F00;
	font-weight:normal;
	padding-left:4px;
}
/*BEGIN: Header Banner*/
.header_banner_top {
	/*background:url(../images/top_qc.jpg) no-repeat top;*/
	height:0px;  /*mac dinh 16*/
}

.header_banner_bottom {
	/*background:url(../images/bottom_qc.jpg) no-repeat bottom;*/
	height:8px;
}

.header_banner_left {
	/*background:url(../images/left_qc.jpg) repeat-y left;*/
	width:12px;
}
.header_phai { border: 1px solid #00CCFF;

}
.header_banner_right {
	/*background:url(../images/right_qc.jpg) repeat-y right;*/
	width:0px; /*mac dinh 14px */
}
/*END: Header Banner*/
/*BEGIN: Show Box 1*/
.showbox_1 {
	border:1px #D4EDFF solid;
	width:138px;
	height:135px;
	margin:2px;
	padding:5px 0px 5px 0px;
	float:left;
	text-align:center;
}

.image_showbox_1 {
	border:0px;
	min-width: 20px;
	max-width: 125px;
	min-height: 20px;
	max-height: 90px;
}

.name_showbox_1 {
	color:#0066FF;
	font-size:11px;
	text-align:center;
	font-weight:bold;
	padding:1px 1px 3px 1px;
}
/*END Show Box 1*/
.cost_showbox {
	color:#FF0000;
	font-weight:bold;
	text-align:center;
}
/*BEGIN: Show Box 2*/
.showbox_2 {
	border:1px #D4EDFF solid;
	width:138px;
	height:91px;
	margin:2px;
	padding:5px 0px 5px 0px;
	float:left;
	text-align:center;
}

.image_showbox_2 {
	border:0px;
	min-width: 20px;
	max-width: 125px;
	min-height: 20px;
	max-height: 90px;
}
/*END Show Box 2*/
/*BEGIN: BOX ADS*/
.title_boxads_1, .title_boxads_2, .title_boxpro_1, .title_boxpro_2, .title_boxjob_1, .title_boxjob_2, .title_boxemploy_1, .title_boxemploy_2, .title_boxshop_1, .title_boxshop_2, .title_boxads_home_1, .title_boxads_home_2 {
	color:#0066FF;
	font-weight:bold;
	text-align:center;
}

.title_boxads_2, .title_boxpro_2, .title_boxjob_2, .title_boxemploy_2, .title_boxshop_2, .title_boxads_home_2 {
	border-left:1px #D4EDFF solid;
	border-right:1px #D4EDFF solid;
}

.title_boxads_home_1, .title_boxads_home_2 {
	border:none;
}

.line_boxads_1, .line_boxads_2, .line_boxads_3, .line_boxjob_1, .line_boxjob_2, .line_boxjob_3, .line_boxemploy_1, .line_boxemploy_2, .line_boxemploy_3, .line_boxads_home_1, .line_boxads_home_2, .line_boxads_home_3 {
	border-bottom:1px #D4EDFF solid;
	padding-left:5px;
	font-weight:bold;
}

.line_boxads_1, .line_boxjob_1, .line_boxemploy_1, .line_boxads_home_1 {
	text-align:left;
}

.line_boxads_2, .line_boxjob_2, .line_boxemploy_2, .line_boxads_home_2 {
	border-left:1px #D4EDFF solid;
	border-right:1px #D4EDFF solid;
	color:#333;
	text-align:center;
}

.line_boxads_3, .line_boxjob_3, .line_boxemploy_3, .line_boxads_home_3 {
	color:#333;
	text-align:center;
}

.line_boxads_home_2 {
	border-left:1px #FFFFFF solid;
	border-right:1px #FFFFFF solid;
}

.line_boxads_home_3 {
	border-left:none;
}

.fix_scrollads_1 {
	width: 350px;
}

.fix_scrollads_2 {
	width: 105px;
}

.fix_scrollads_3 {
	width: 104px;
}
/*END BOX ADS*/
/*BEGIN: Best Vote*/
.img_bestvote {
	border:0px #CDCDCD solid;
	width:100px;
	height:70px;
	float:left;
	padding-top:5px;
	text-align:center;
}

.image_bestvote {
	border:0px;
	min-width:20px;
	min-height:20px;
	max-width:90px;
	max-height:70px;
}

.title_bestvote {
	font-size:11px;
	font-weight:bold;
	padding-top:5px;
	padding-left:5px;
}

.descr_bestvote {
	margin:2px;
	font-style:italic;
	color:#333;
	padding:0px 0px 5px 5px;
}

.vote_bestvote {
	padding-left:5px;
}
/*END Best Vote*/
/*BEGIN: List 1*/
.list_1 {
	padding:0px 2px 5px 5px;
	font-size:12px;
}
/*END List 1*/
/*BEGIN: Footer*/
#counter {
	font-weight:bold;
	color:#0066FF;
	text-align:center;
}

#footer {
	color:#0055FF;
	font-size:11px;
	text-align:center;
	padding:10px;
	padding-bottom:30px;
	line-height:16px;
}
/*END Footer*/
/*BEGIN: Category Product*/
.title_boxpro_0, .title_boxpro_1, .title_boxpro_2, .title_boxshop_1, .title_boxshop_2 {
	background:url(../images/bg_titleproduct.jpg) repeat-x;
}

.title_boxpro_0 {
	border-right:1px #D4EDFF solid;
}

.line_boxpro_0, .line_boxpro_1, .line_boxpro_2, .line_boxshop_1, .line_boxshop_2 {
	color:#FF0000;
	font-weight:bold;
	text-align:center;
	height:80px;
	border-top:1px #D4EDFF solid;
}

.line_boxpro_0 {
	border-right:1px #D4EDFF solid;
}

.line_boxpro_1, .line_boxshop_1 {
	padding:2px;
}

.line_boxpro_2, .line_boxshop_2 {
	text-align:left;
	font-size:11px;
	padding:5px;
	border-left:1px #D4EDFF solid;
	border-right:1px #D4EDFF solid;
}

.image_boxpro, .image_boxshop {
	border:0px;
	min-width:20px;
	min-height:20px;
	max-width:100px;
	max-height:75px;
}

.descr_boxpro, .descr_boxshop {
	color:#666;
	font-size:11px;
	font-weight:normal;
	margin-top:5px;
}

.saleoff_boxpro, .saleoff_boxshop {
	color:#FF1C1C;
	font-size:11px;
	font-style:italic;
	font-weight:normal;
}

.usd_boxpro {
	color:#999;
	font-size:11px;
	font-weight:bold;
}

.nego_boxpro {
	color:#5AF;
	font-size:11px;
	font-style:italic;
	margin-top:5px;
	font-weight:normal;
}

.vr_boxpro, .vr_boxshop {
	color:#06F;
	font-size:11px;
	font-weight:normal;
}

#favorite_boxpro, #post_boxads, #post_boxjob, #post_boxemploy, #regis_boxshop, #delete_showcart, #delete_account {
	text-align:left;
	font-weight:bold;
	padding:7px 2px 0px 12px;
}

#sort_boxpro, #sort_boxads, #sort_boxjob, #sort_boxemploy, #sort_boxshop, #submit_showcart, #boxfilter_account {
	padding-top:7px;
}
/*END Category Product*/
/*BEGIN: Show Page*/
#show_page {
	text-align:right;
	font-weight:bold;
	font-size:10px;
	padding:5px 12px 0px 5px;
}

.view_page, .selected_page {
	cursor:pointer;
	display:inline;
	margin-left:1px;
}

.selected_page {
	color:#F00;
}
/*END Show Page*/
#select_sort{
	height:19px;
	width:125px;
	font-size:11px;
	border:1px #CCC solid;
}

.view_all {
	padding-right:7px;
	font-weight:bold;
	padding-bottom:5px;
	text-align:right;
}
/*BEGIN: Rao Vat*/
.shop_boxads {
	font-weight:normal;
	font-size:11px;
	color:#666;
	font-style:italic;
}
/*END Rao Vat*/
.number_view, .number_buy, .province_view, .date_view {
	color:#090;
	font-size:11px;
	font-weight:normal;
}
/*BEGIN: Shop*/
.address_boxshop {
	color:#333;
	font-size:11px;
	font-weight:normal;
	margin:2px;
}

.phone_boxshop {
	color:#06F;
	font-weight:normal;
}

.status_yahoo {
	margin:5px;
}
/*END Shop*/
/*BEGIN: Detail San Pham & Rao Vat*/
.tbl_detail {
	margin-top:8px;
	margin-bottom:5px;
}

.image_view_detail_top, .image_view_detail_bottom {
	border:1px #D4EDFF solid;
	padding:7px;
	width:210px;
	text-align:center;
}

.image_view_detail_top {
	border-bottom:none;
}

.image_view_detail_bottom {
	border-top:none;
}

#image_detail {
	border:0px;
	min-width:20px;
	min-height:20px;
	max-width:200px;
	max-height:170px;
}

#click_view {
	font-size:11px;
	color:#CCC;
	font-style:italic;
	margin-top:10px;
	margin-bottom:10px;
}

.info_view_detail {
	border:2px #D4EDFF solid;
	padding:7px 5px 7px 3px;
	text-align:left;
}

#title_detail {
	color:#06F;
	font-size:13px;
	font-weight:bold;
	padding-left:3px;
	margin-bottom:7px;
}

.list_detail {
	font-weight:bold;
	color:#666;
}

#cost_detail {
	color:#FF0000;
	font-size:13px;
}

#nego_detail {
	font-size:11px;
	color:#CCC;
	font-weight:bold;
	font-style:italic;
}

.content_list_detail {
	color:#06F;
}

#vote_detail {
	padding-left:1px;
	color:#06F;
}

#DivContentDetail {
	border:2px #DFF3FE solid;
	width:555px;
	height:auto;
	margin:0px 3px 5px 3px;
	padding:8px;
	font-size:12px;
	line-height:18px;
	overflow:hidden;
}

#DivVoteDetail, #DivReplyDetail {
	border:2px #DFF3FE solid;
	height:auto;
	margin:0px 3px 5px 3px;
	padding:7px;
	font-size:12px;
	line-height:18px;
	text-align:center;
}

#send_link, #send_fail {
	color:#0066FF;
	font-weight:bold;
	font-size:12px;
	padding:2px 5px 0px 5px;
}

#DivSendLinkDetail, #DivSendFailDetail {
	border:0px #CCC solid;
	height:auto;
	margin:0px 3px 5px 3px;
	padding:7px;
	font-size:12px;
	line-height:18px;
	text-align:center;
}
/*END Detail San Pham & Rao Vat*/
/*BEGIN: Detail job & employ*/
.changestyle_detail_job_1 {
	background:url(../images/bg_changestyle_detail_job_1.jpg) repeat-y;
}

.changestyle_detail_job_2 {
}
/*END Detail job & employ*/
/*BEGIN: Background Form*/
.sendlink_top {
	background:url(../images/sendlink_top.jpg) no-repeat;
}

.sendfail_top {
	background:url(../images/sendfail_top.jpg) no-repeat;
}

.sendlink_topads {
	background:url(../images/sendlink_topads.jpg) no-repeat;
}

.sendfail_topads {
	background:url(../images/sendfail_topads.jpg) no-repeat;
}

.sendlink_topjob {
	background:url(../images/sendlink_topjob.jpg) no-repeat;
}

.sendfail_topjob {
	background:url(../images/sendfail_topjob.jpg) no-repeat;
}

.sendlink_topemploy {
	background:url(../images/sendlink_topemploy.jpg) no-repeat;
}

.sendfail_topemploy {
	background:url(../images/sendfail_topemploy.jpg) no-repeat;
}

.sendlink_main, .sendfail_main {
	background:url(../images/bg_send.jpg) repeat-y;
}

.sendlink_bottom, .sendfail_bottom {
	background:url(../images/send_bottom.jpg) no-repeat bottom;
}

.form_top {
	background:url(../images/top_form.jpg) no-repeat bottom;
}

.form_main {
	background:url(../images/bg_form.jpg) repeat-y;
}

.form_bottom {
	background:url(../images/bottom_form.jpg) no-repeat bottom;
}
/*END Backgorund Form*/
/*BEGIN: Form*/
.list_form, .list_formlogin {
	color:#666;
	font-size:11px;
	font-weight:bold;
	text-align:left;
	padding:5px 5px 5px 20px;
}

.input_form, .input_formpost, .inputcost_formpost, .inputphone_formpost, .inputsalary_formpost, .inputtry_formpost, .inputquantity_formpost, .inputcaptcha_form, .inputlinkshop_formpost {
	border:1px #CCC solid;
	width:220px;
	height:17px;
	color:#333;
	font-size:13px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:normal;
}

.inputcaptcha_form {
	width:150px;
	margin-top:2px;
	font-weight:bold;
}

.textarea_form, .textarea_post {
	color:#333;
	font-size:13px;
	font-family:Tahoma, Geneva, sans-serif;
	border:1px #CCC solid;
}

.textarea_post {
	margin-top:7px;
	width:250px;
}

.button_form {
	background:url(../images/bg_button.png) no-repeat;
	cursor:pointer;
	color:#FFF;
	font-weight:bold;
	border:0px;
	width:100px;
	height:24px;
}

.success_post, .stop_register {
	color:#06F;
	font-size:11px;
	text-align:center;
	font-weight:bold;
	padding-top:20px;
	padding-left:10px;
	padding-right:10px;
	line-height:18px;
}
/*END Form*/
/*BEGIN: Reply*/
.header_reply {
	background:url(../images/bg_header_reply.jpg) no-repeat;
}

.title_reply, .title_contact_account, .title_communicate {
	color:#06F;
	font-weight:bold;
	padding:8px 5px 0px 8px;
	text-align:left;
	font-size:11px;
}

.time_reply, .time_contact_account, .time_communicate {
	color:#090;
	font-size:11px;
	font-weight:normal;
}

.author_reply {
	color:#DC5F01;
	font-weight:bold;
	padding:0px 5px 5px 8px;
	text-align:left;
	font-size:11px;
}

.email_reply {
	font-size: 11px;
}

.content_reply {
	font-size:12px;
	padding:5px 10px 15px 10px;
	border-top:1px #A6D2FF solid;
	background:url(../images/bg_reply.gif) no-repeat bottom;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
}
/*END Reply*/
/*BEGIN: Job - Employ*/
.global_title_job {
	padding-top:5px;
}

.title_job {
	color:#06F;
	font-size:12px;
	font-weight:bold;
	text-align:left;
	padding:5px 5px 2px 10px;
}

.header_job {
	background:url(../images/top_job.jpg) no-repeat;
	color:#06F;
	font-size:12px;
	font-weight:bold;
	padding-top:3px;
	padding-left:10px;
	text-align:left;
}

.main_job {
	background:url(../images/bg_job.jpg) repeat-y;
	text-align:center;
	border-top:1px #A6D2FF solid;
}

.bottom_job {
	background:url(../images/bottom_job.jpg) no-repeat;
}

.list_detailjob {
	color:#004A95;
	font-weight:bold;
	padding:5px 10px 5px 10px;
	text-align:right;
}

.content_detailjob {
	color:#05F;
	font-size:12px;
	padding:5px 10px 5px 20px;
	text-align:left;
	line-height:16px;
}

.icon_field, .list_field {
	padding-top:10px;
}

.icon_field {
	padding-left:30px;
	padding-right:0px;
}

.list_field {
	font-weight:bold;
}
/*END Job - Employ*/
/*BEGIN: Post*/
.post_top {
	background:url(../images/top_post.jpg) no-repeat;
}

.post_main {
	background:url(../images/bg_post.jpg) repeat-y;
}

.post_bottom {
	background:url(../images/bottom_post.jpg) no-repeat bottom;
}

.list_post {
	color:#666;
	font-weight:bold;
	padding-left:10px;
	padding-right:20px;
	padding-top:10px;
	text-align:right;
}

.input_formpost, .inputcost_formpost, .inputsalary_formpost, .inputphone_formpost, .inputquantity_formpost {
	margin-top:7px;
	width:250px;
}

.inputcost_formpost, .inputsalary_formpost {
	width: 83px;
	color:#F00;
	font-weight:bold;
}

.inputimage_formpost {
	margin-top:7px;
}

.inputphone_formpost {
	width:98px;
}

.inputtry_formpost, .inputquantity_formpost {
	width:30px;
}

.inputlinkshop_formpost {
	width:90px;
}

.selectcurrency_formpost, .selectprovince_formpost, .selectcategory_formpost, .selectdate_formpost, .selectage_formpost, .selectsex_formpost, .selectexper_formpost, .selecttime_formpost, .selectsalary_formpost, .selectdatetry_formpost, .selectbestcontact_formpost, .selectposition_contact, .selectstyle_formpost {
	border:1px #CCC solid;
	height:21px;
	margin-top:7px;
}

.selectcurrency_formpost {
	width:55px;
}

.selectprovince_formpost {
	width:185px;
}

.selectcategory_formpost {
	width:185px;
}

.selectdate_formpost {
	width:55px;
}

.selectage_formpost {
	width:45px;
}

.selectsex_formpost {
	width:90px;
}

.selectexper_formpost {
	width:90px;
}

.selecttime_formpost {
	width:120px;
}

.selectsalary_formpost {
	width:65px;
}

.selectdatetry_formpost {
	width:65px;
}

.selectbestcontact_formpost {
	width:120px;
}

.selectstyle_formpost {
	width:100px;
}

#DivShowCost, #DivShowSalary, #DivShowCostSearch1, #DivShowCostSearch2, #DivShowSalarySearch1, #DivShowSalarySearch2, #DivShowSalarySearch {
	color:#F00;
	font-size:12px;
	font-weight:bold;
}

.none_cost, .age_post, .exper_job, .quantity_job, .exper_employ {
	color:#666;
	font-weight:bold;
	padding-right:5px;
}

.saleoff {
	color:#F00;
	font-weight:bold;
}

.seperate_line {
	color:#06F;
	background:#D2E9FF;
	font-weight:bold;
	padding-right:20px;
	text-align:right;
}

.div_helppost, .div_errorpost {
	border:0px;
	height:auto;
	width:auto;
	color:#06F;
	font-size:11px;
	padding-left:5px;
}

.div_errorpost {
	color:#F00;
	padding-left:0px;
}

.img_helppost {
	margin-left:5px;
	cursor:pointer;
}

.img_errorpost {
	margin-left:2px;
}

.note_post, .notepost_account {
	color:#FF00FF;
	font-size:11px;
	padding:5px 5px 5px 15px;
	height:37px;
	text-align:left;
	background:url(../images/bg_note.jpg) repeat-x;
	margin:0px 10px -5px -3px;
}
/*END Post*/
/*BEGIN: Register*/
.special_regis {
	color:#F00;
	font-weight:bold;
	font-size:11px;
	padding-top:7px;
}
/*END Register*/
/*BEGIN: Login*/
.list_formlogin {
	padding-left:110px;
	font-size:11px;
}

.forgot_password, .re_login {
	color:#F00;
	font-size:11px;
	padding-top:7px;
}
/*END Login*/
/*BEGIN: Contact*/
.selectposition_contact {
	width:100px;
	margin-top:1px;
}
/*END Contact*/
/*BEGIN: ShowCart*/
.title_showcart_0, .title_showcart_1, .title_showcart_2, .title_showcart_3, .title_showcart_4 {
	font-weight:bold;
	text-align:center;
	color:#06F;
}

.title_showcart_1, .title_showcart_3, .line_showcart_1, .line_showcart_3 {
	border-left:1px #D4EDFF solid;
	border-right:1px #D4EDFF solid;
}

.title_showcart_4, .line_showcart_4 {
	border-left:1px #D4EDFF solid;
}

.line_showcart_0, .line_showcart_1, .line_showcart_3, .line_showcart_4 {
	text-align:center;
	border-bottom:1px #D4EDFF solid;
}

.line_showcart_0 {
	font-weight:bold;
	color:#777;
}

.line_showcart_2 {
	text-align:left;
	border-bottom:1px #D4EDFF solid;
}

.line_showcart_3, .line_showcart_4 {
	font-weight:bold;
	color:#F00;
	padding:2px;
}

.cost_usdshowcart {
	color:#999;
	font-size:11px;
	font-weight:normal;
	padding:2px;
}

.input_showcart {
	border-top:1px #EFEFEF solid;
	border-bottom:1px #EFEFEF solid;
	border-left:none;
	border-right:none;
	height:15px;
	width:58px;
	font-weight:bold;
	color:#A05050;
	text-align:center;
}

#total_showcart, #TotalVNDShowCart, #TotalUSDShowCart {
	color:#06F;
	font-weight:bold;
	padding-top:7px;
	padding-right:9px;
}

#TotalVNDShowCart {
	color:#F00;
}

#TotalUSDShowCart {
	color:#999;
	font-weight:normal;
	padding-top:2px;
}
/*END ShowCart*/
.loading_image {
	text-align:center;
	padding-top:210px;
	padding-bottom:211px;
	padding-left:275px;
	border:none;
}

.loading_image_shop {
	text-align:center;
	padding-top:155px;
	padding-bottom:155px;
	padding-left:275px;
	border:none;
}

.loading_image_ads {
    text-align:center;
	padding-top:115px;
	padding-bottom:0px;
	padding-left:165px;
	border:none;
}

.loading_image_job {
    text-align:center;
	padding-top:120px;
	padding-bottom:0px;
	padding-left:95px;
	border:none;
}
/*BEGIN: Search*/
.result_number {
	color:#F00;
	font-size:12px;
	font-weight:normal;
}
/*END Search*/
/*BEGIN: Account*/
.title_menu_account {
	font-weight:bold;
	text-align:center;
	margin-top:10px;
	margin-bottom:40px;
}

.title_account_0, .title_account_1, .title_account_2, .title_account_3 {
	color:#06F;
	font-weight:bold;
	text-align:center;
}

.title_account_0 {
	padding-left:5px;
}

.title_account_1 {
	border-left:1px #D4EDFF solid;
	border-right:1px #D4EDFF solid;
}

.title_account_3 {
	border-left:1px #D4EDFF solid;
}

.line_account_0, .line_account_1, .line_account_2, .line_account_3, .line_account_4, .line_account_5 {
	font-weight:bold;
	border-bottom:1px #D4EDFF solid;
	color:#666;
}

.line_account_0 {
	padding-left:0px;
	text-align:center;
	color:#777;
}

.line_account_1 {
	border-left:1px #D4EDFF solid;
	border-right:1px #D4EDFF solid;
	text-align:center;
}

.line_account_2, .line_account_3 {
	text-align:left;
	padding-left:5px;
	padding-right:5px;
}

.line_account_3 {
	border-left:1px #D4EDFF solid;
	border-right:1px #D4EDFF solid;
}

.line_account_4 {
	text-align:center;
}

.line_account_5 {
	border-left:1px #D4EDFF solid;
	text-align:center;
}

.inputfilter_account {
	border:1px #CCC solid;
	height:14px;
	width:200px;
}

.quantity_account {
	color:#A05050;
	text-align:center;
}

.customer_account {
	color:#06F;
	font-weight:bold;
	text-align:center;
	cursor:pointer;
}

.notepost_account {
	margin-left:5px;
	margin-right:1px;
}

.time_contact_account, .time_communicate {
	padding-left:8px;
}

.header_contact_account, .header_communicate {
	background:url(../images/bg_header_contactaccount.gif) no-repeat;
}

.content_contact_account, .content_communicate {
	font-size:12px;
	padding:5px 10px 15px 10px;
	border-top:1px #A6D2FF solid;
	background:url(../images/bg_contactaccount.gif) no-repeat bottom;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
}

.saleoff_shop, .stop_shop {
	color:#F00;
	padding:3px 3px 3px 0px;
	font-weight:bold;
}

.main_list {
	padding-left:4px;
}

.none_record {
	color:#F00;
	font-weight:bold;
	text-align:center;
	padding-top:15px;
}

.none_record_search {
	color:#F00;
	font-weight:bold;
	text-align:center;
	height:32px;
}
/*END Account*/
/*BEGIN: Advertise*/
.advertise_left, .advertise_left_flash, .advertise_right, .advertise_right_flash {
	margin-bottom:1px;
	text-align:center;
	width:190px;
	max-height:800px;
	border:1px #CCC solid;
}

.advertise_left_flash, .advertise_right_flash {
	height:320px;
	border:none;
}

.advertise_header, .advertise_header_flash {
	width:490px;
	height:100px;
	border:none;
	margin:0px;
	padding:0px;
}

.advertise_footer, .advertise_footer_flash, .advertise_top, .advertise_top_flash, .advertise_bottom, .advertise_bottom_flash {
	width:594px;
	max-height:250px;
	margin-bottom:2px;
	text-align:center;
	border:none;
}

.advertise_footer_flash, .advertise_top_flash, .advertise_bottom_flash {
	height:125px;
}
/*END Advertise*/
/*BEGIN: Top Tip*/
.image_top_tip {
	border:none;
	max-width:45px;
	max-height:60px;
}
/*END Top Tip*/
.menu_selected {
	text-decoration: none;
	color: #00CCFF;
	font-weight:bold;
}

.search_selected {
	text-decoration: none;
	color:#F00;
	font-weight:bold;
}

.top_productest_shop {
	width:59px;
	height:50px;
	float:left;
	padding-top:4px;
	padding-bottom:3px;
	margin:1px;
	text-align:center;
	border:1px #D4EDFF solid;
	cursor:pointer;
}

.image_top_productest_shop {
	min-width:20px;
	min-height:20px;
	max-width:57px;
	max-height:48px;
	border:none;
}
/*BEGIN: Info*/
.global_info {
	font-size:11px;
	color:#06F;
	padding:10px;
	line-height:16px;
	text-align:justify;
}

.info_1 {
	color:#F00;
	font-weight:bold;
	width:100%;
	text-align:center;
	font-size:12px;
	margin-bottom:8px;
}

.info_2 {
	text-align:justify;
}
/*END Info*/
.set_enddate {
	width:70px;
	height:17px;
	border:none;
	text-align:center;
	font-size:10px;
	color:#666666;
	font-weight:bold;
	margin-right:2px;
}
/*BEGIN: List 2*/
.list_2 {
	padding:0px 2px 5px 5px;
	font-size:11px;
}
/*END List 2*/
/*BEGIN: Notify & Guide*/
.title_notify_detail, .title_guide {
	color:#06F;
	font-weight:bold;
	padding-left:10px;
	padding-right:10px;
	line-height:16px;
}

.content_notify_detail, .content_guide {
	border:1px #c1f4eb solid;
	border-bottom:none;
	padding:10px;
	font-size:12px;
	line-height:18px;
}

.DivGuide {
	display: none;
}
/*END Notify & Guide*/
/*BEGIN: Taskbar*/
.taskbar {
	position:fixed;
	height:25px;
	width:100%;
	background:url(../images/bg_taskbar.gif) repeat-x top;
	bottom:0px;
	left:0px;
	z-index:100;
}

.taskbar_title {
	font-size:11px;
	color:#06F;
	margin-left:25px;
	margin-top:7px;
	float:left;
	height:14px;
}

.menu_taskbar:link {
	color:#0066FF;
	padding-left:20px;
	text-decoration:none;
}
.menu_taskbar:visited {
	padding-left:20px;
	text-decoration: none;
	color: #0066FF;
}
.menu_taskbar:hover {
	padding-left:20px;
	text-decoration: none;
	color:#FF0000;
}
.menu_taskbar:active {
	padding-left:20px;
	color:#0066FF;
	text-decoration:none;
}

.taskbar_vip {
	float:right;
	color:#06F;
	font-size:10px;
	padding-top:2px;
	margin-right:10px;
	margin-top:6px;
	background:url(../images/bg_ads_vip.gif) no-repeat right;
	height:15px;
	width:200px;
}

.taskbar_notify {
	float:right;
	font-size:11px;
	font-weight:bold;
	color:#06F;
	cursor:pointer;
	text-align:center;
	padding-top:2px;
	margin-right:25px;
	margin-top:5px;
	background:url(../images/bg_taskbar_notify.gif) no-repeat right;
	width:80px;
	height:16px;
}

.border_content_taskbar_notify {
	width:300px;
	height:200px;
	right:0px;
	bottom:25px;
	position:fixed;
	/*opacity:.90;*/
	filter: alpha(opacity=90);
	-moz-opacity: 0.75;
	z-index:100;
	display:none;
}

.title_taskbar_notify {
	color:#06F;
	font-weight:bold;
}

.content_taskbar_notify {
	border:1px solid #FC3;
	height:175px;
	background-color:#FFF;
	padding:10px;
	font-size:11px;
}
/*END Taskbar*/
.bannerLeft, .bannerRight, .bannerCorner {
    width:200px;
	height:auto;
	right:0px;
	bottom:auto;
    top:1px;
	position:fixed;
	/*opacity:.100;*/
	filter: alpha(opacity=90);
	-moz-opacity: 0.75;
	z-index:100;
}

.bannerRight {
    right:auto;
    left:0px;
}

.bannerCorner {
    width:350px;
    bottom:1px;
    right:20px;
    top:auto;
}

.bannerLeft .flash, .bannerRight .flash {
    width:200px;
    height: 300px;
    margin-top:2px;
}

.bannerLeft img, .bannerRight img {
   /* width:200px;*/
    border:0px;
    margin-top:2px;
    margin: 25px;
}

.bannerCorner .flash {
    width:350px;
    height: 200px;
    margin-top:2px;
}

.bannerCorner img {
    width:350px;
    margin-top:2px;
    border:0px;
    padding:10px;
    background:#F48E51;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
}

.bannerCorner .close {
	display:none;
    position: absolute;
    width:25px;
    height:29px;
    margin:-10px 0px 0px -10px;
    cursor:pointer;
    background:url(../images/close_x.png) no-repeat center;
    z-index:200;
}
/*Header*/
.header_banner_top_left {
	/*background:url(../images/top_qc_left.jpg) no-repeat left center;*/
}

.header_banner_left_left {
	width:0px; /*mac dinh 18px*/
	/*background:url(../images/left_qc_left.jpg) no-repeat left center;*/
}
.header_banner_left { 

}
.header_banner_center_left { border: 1px solid #00CCFF;
}

.header_banner_right_left {
	width:12px;
	/*background:url(../images/right_qc.jpg) no-repeat -4px 0px;*/
}

.header_banner_bottom_left {
	/*background:url(../images/bottom_qc_left.jpg) no-repeat right center;*/
}

.h_search {
	width:331px;
	height:24px;
	margin-left:62px;
	background:url(../images/h_bg_search.png) no-repeat;
}

.h_select {
	width:85px;
	margin:3px 0px 0px 2px;
	border:0px;
}

.h_input {
	width:165px;
	border:0px;
	font-weight:bold;
}

.h_button {
	color:#FFF;
	border:0px;
	cursor:pointer;
	background:none;
}

.h_icon {
	float:right;
	width:70px;
	height:22px;
	margin:5px 0px 5px 20px;
	padding-left:30px;
	line-height:22px;
	font-weight:bold;
	cursor:pointer;
}
.h_pa_icon {
    margin: 15px 0 0;
    text-align: center;
	margin-left: 100px;
	
}
.h_pa_icon a.h_ads {
    background: url("../images/icon_post_ads.gif") no-repeat scroll left center transparent;
	 font-weight: bold;
    line-height: 12px;
    margin: 0 10px;
    padding: 2px 0 2px 20px;
}

.h_pa_icon a.h_product {
    background: url("../images/icon_post_product.gif") no-repeat scroll left center transparent;
    font-weight: bold;
    line-height: 12px;
    margin: 0 10px;
    padding: 2px 0 2px 20px;
}

.hMenu div {
	height:30px;
	margin-left:10px;
	line-height:28px;
}

.hMenu div.eCat {
	display:none;
	margin-left:25px;
}